.cal-container{
  display:flex;
  .fixed-pallette{
    position:fixed;
  }
  .cal-left{
    width:120px;
    overflow:auto;
    display:flex;
    flex-direction:column;
    .block{
      height:100px;
      width:100px;
      display:flex;
      margin:10px 0;
      justify-content: space-around;
      align-items: center;
    }
  }
  .cal-right{
    width:100%;
  }
}
.days-of-week{
  display:flex;
  justify-content:space-around;
}
.calendar{
  display:flex;
  justify-content:space-around;
  .day{
    border:1px solid black;
    width:100%;
    margin:2px;
  }
  .hour{
    height:20px;
    border:1px solid black;
    /* display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column; */
    p{
      margin:0;
    }
  }
}




.blue{
  background-color:blue;
}

.orange{
  background-color:orange;
}

.green{
  background-color:green;
}

.yellow{
  background-color:yellow;
}

.red{
  background-color:red;
}
